{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ object.preview | media_filter }}" alt="photo" height="400"
                     style="float: left; margin-right: 10px; margin-left: 10px;">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Описание: {{ object.content }}</li>
                </ul>
                <a class="btn btn-outline-primary" href="{% url 'blog:article_list' %}" role="button">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}