{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <h5 class="display-6 mb-5">Вы находитесь в разделе "БЛОГ"</h5>
        <div class="col-3"></div>
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить статью: "{{ object.title }}"</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-primary">Удалить</button>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-outline-primary" href="{% url 'blog:article_list' %}"
                               role="button">Отменить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}