{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">₽ {{ object.price }}</h1>
                <img src="{{ product.photo | media_filter }}" alt="{{ product.name }}" height="200">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Категория: {{ object.category }}</li>
                    <li>Описание: {{ object.description }}</li>
                    <li>Зарегистрирован: {{ object.created_at }}</li>
                    <li>Обновлён: {{ object.updated_at }}</li>
                </ul>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary" href="{% url 'catalog:home' %}" role="button">Каталог</a>
                    {% if user.is_authenticated %}
                        {% if perms.catalog.can_unpublish_product and perms.catalog.delete_product %} <!--or user == product.owner %}-->
                            <a class="btn btn-outline-primary" href="{% url 'catalog:product_update' product.pk %}"
                               role="button">Изменить</a>
                            <a class="btn btn-outline-primary" href="{% url 'catalog:product_delete' product.pk %}"
                               role="button">Удалить</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}