{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <h5 class="display-6">Вы находитесь в разделе "КАТАЛОГ"</h5>
    <p>
        <a class="btn btn-outline-primary" href="{% url 'catalog:product_create' %}" role="button">Добавить продукт</a>
    </p>
    {% for product in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name | truncatechars:20 }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.photo | media_filter }}" alt="{{ product.name }}" height="200">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Описание: {{ product.description | truncatechars:100 }}</li>
                </ul>
                <a class="btn btn-outline-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}